<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- canvasJS for graphs -->
    <script src="js/canvasjs.min.js"></script>

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

  </head>
  <body ng-app="WLP" ng-controller="WLPCtrl">

   <ion-tabs class="tabs-positive">

     <ion-tab title="Your Lifts">
     <ion-scroll zooming="true" direction="xy">
        <ul>
          <li ng-repeat="lift in lifts">
           <label class="item item-input item-floating-label">
            <span class="input-label">{{lift.name}}</span>
              <input type="number" ng-model="lift.val" placeholder={{lift.name}}>
            </label>
          </li>
        </ul>
        <!--<button type="submit" class="button button-block button-positive">Update</button>-->
     </ion-scroll>
     </ion-tab>

     <ion-tab title="Comparison Graph">
      <button class="button button-block button-positive" ng-click="genGraph()">Generate Graph</button>
        <p>Note - The optimal ratio is based on your squat.</p>
     <div id="ratioGraph" style="height: 300px; width: 100%;"></div>
     </ion-tab>

     <ion-tab title="Ratio Settings">
     <ion-scroll zooming="true" direction="xy">
         <ul>
          <li ng-repeat="lift in lifts" ng-if="lift.name!='Squat'">
           <label class="item item-input item-floating-label">
            <span class="input-label">{{lift.name}}</span>
              <input type="number" ng-model="lift.ratio" placeholder={{lift.name}}>
            </label>
          </li>
        </ul>
        <p>Ratios are based off your squat.</p>
     </ion-scroll>
     </ion-tab>

    </ion-tabs>

  </body>
</html>

